body{
	font-family:Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
}

#header2{
	font-size:30px;
	margin:10px;
}

.mytable,th,td{
	
	border: 1px solid black;
	padding: 5px;
}

td{
	//font-family: Calibri;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.mytable{
	align:center;
}

.image{
	padding:20px;
}

.nav {
	text-align: center;
}
.nav li {
	padding-right: 1px;
	vertical-align: bottom;
}
.nav a {
	padding: 4px 10px;
}
