body{
 font-family:Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
}


#header2{
  font-size:30px;
  margin:10px;
}



.mytable,th,td{
	
  border: 1px solid black;
  padding: 5px;
}

td{

  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.mytable{
  align:center;
  margin-top:40px;
}

.image{
  padding:20px;
}


.nav {
    text-align: center;
    width:100%;
    display:table;
    margin: 0;
}
.nav li {
    padding-right: 1px;
    vertical-align: bottom;
    float:none;
    display:table-cell;
    text-align:center;
    float: right;
    display: inline-block;
    width: auto;
    float: none;
    text-align: center;
    direction: rtl;
    width:10%;
    font-size:12px;    
}
.nav a {
  padding: 4px 10px;
}


.nav > li
{
  
  display:inline-block;
  border:1px solid black;
  
}


li { padding: 0; }
li a { display: block; }

li > a:focus{
  background-color: #1e1e1e;
}



